@{
ViewBag.Title = "UFFight Robótica";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Movimentação
			<small>Financeira</small>
		</h1>
	</section>
	<form action="/Financeiro/Save" method="post">
		<div class="box-body">
			<div class="form-group">
				<label>Valor</label>
				<input type="number" step=".01" class="form-control" name="valor" placeholder="Valor">
			</div>
			<div class="form-group">
				<label>Motivo</label>
				<input type="text" class="form-control" name="motivo" placeholder="Motivo">
			</div>
			<div class="form-group">
				<label>Tipo de Movimentação</label>
				<select class="form-control" name="tipo" placeholder="Tipo">
					<option disabled selected value></option>
					<option>Entrada</option>
					<option>Saída</option>
				</select>
			</div> 
			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</form>
	<div class="row">
            <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                        <h3 class="box-title">Movimentações Financeiras</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="money_table">
                            <tr>
                                <th>ID</th>
                                <th>Motivo</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    <!-- /.content -->

  </div>
	<!-- /.content -->

</div>
<!-- /.content-wrapper -->

@section Scripts 
{
	@Scripts.Render("~/bundles/dashboard1")
}

<script>
    window.onload = function getAjaxes(){
      $.ajax({
        url: '@Url.Action("MoneyList", "Financeiro")',
        type: 'GET',
        cache: false,
        data: JSON.stringify(),
        success: function(data){
          var money_data = '';
          $.each(data, function(key, value){
            money_data += '<tr>';
            money_data += '<td>'  + value.FinanceiroId+'</td>';
            money_data += '<td>'  + value.Motivo+'</td>';
            money_data += '<td>'  + value.Tipo + '</td>';
            money_data += '<td>'+ 'R$ ' + value.Valor+'</td>';
            money_data += '<td><button type="submit" onclick="Delete(' + value.FinanceiroId + ')" class="btn btn-primary">Deletar</button></td>';
            money_data += '</tr>';
          });
          $('#money_table').append(money_data);
        }
      });
      //console.log(teste);
    }
        function Delete(id){
        $.ajax ({
            type : "POST",
            url : '@Url.Action("Delete", "Financeiro")',
            data : {id: id},
            dataType : "json",
            success: function(){
                window.location.reload();
            }
        });
        window.location.reload();
    }
</script>