@{
ViewBag.Title = "UFFight Robótica";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cadastro
      <small>Tarefas</small>
    </h1>
  </section>
  <section>
    <form action="/Tarefas/Save" method="post">
      <div class="box-body">
        <div class="form-group">
          <label>Tarefa</label>
          <input type="text" class="form-control" name="tarefa" placeholder="Tarefa">
        </div>
        <div class="form-group">
          <label>Robô</label>
          <select class="form-control" name="robo" placeholder="Robô">
            <option disabled selected value></option>
            <option>Montenegro</option>
            <option>Nakazato</option>
            <option>Pachequinho</option>
            <option>Paladino</option>
            <option>Qüekinem</option>
            <option>SaiaJeans</option>
          </select>
        </div>
        <div class="form-group">
          <label>Urgência</label>
          <select class="form-control" name="urgencia" placeholder="Urgência">
            <option disabled selected value></option>
            <option>Alta</option>
            <option>Média</option>
            <option>Baixa</option>
          </select>
        </div>  
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" name="status" placeholder="Status">
            <option disabled selected value></option>
            <option>Nova</option>
            <option>Em Andamento</option>
            <option>Resolvida</option>
          </select>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        <br>
        <br>
      </form>
    </section>
    @* <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Listagem de Tarefas</h3>
            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Tarefa</th>
                <th>Robô</th>
                <th>Urgência</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>183</td>
                <td>John Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-success">Approved</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              </tr>
              <tr>
                <td>219</td>
                <td>Alexander Pierce</td>
                <td>11-7-2014</td>
                <td><span class="label label-warning">Pending</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              </tr>
              <tr>
                <td>657</td>
                <td>Bob Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-primary">Approved</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              </tr>
              <tr>
                <td>175</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div> *@
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

  @section Scripts 
  {
    @Scripts.Render("~/bundles/dashboard1")
  }

  <script>
    window.onload = function getAjaxes(){
      $.ajax({
        url: '@Url.Action("TaskList", "Tarefas")',
        type: 'GET',
        cache: false,
        data: JSON.stringify(),
        success: function(data){
          var k = '<tbody>';
          for (var i = data.length - 1; i >= 0; i--) {
            data[i]
          }
          k+='<td>' + data[i].tarefa
        }
      });
      //console.log(teste);
    }
  </script>