@{
ViewBag.Title = "UFFight Robótica";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Início
            <small>Painel de Controle</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 id="tasks"></h3>
                        <p>Novas Tarefas</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-briefcase"></i>
                    </div>
                    <a href="Tarefas/Index" class="small-box-footer">Leve-me lá! <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="money"><sup style="font-size: 20px"></sup></h3>
                        <p>Em Caixa</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                    <a href="Financeiro/Index" class="small-box-footer">Leve-me lá! <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="data"></h3>
                        <p id="evento"></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-calendar"></i>
                    </div>
                    <a href="Eventos/Index" class="small-box-footer">Leve-me lá! <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts 
{
    @Scripts.Render("~/bundles/dashboard1")
}

<script>
    window.onload = function getAjaxes(){
        $.ajax({
            url: '@Url.Action("NumOfTasks", "Tarefas")',
            type: 'GET',
            cache: false,
            data: JSON.stringify(),
            success: function(data){
                document.getElementById("tasks").innerHTML = data;
            }
        });
        $.ajax({
            url: '@Url.Action("TotalMoney", "Financeiro")',
            type: 'GET',
            cache: false,
            data: JSON.stringify(),
            success: function(data) {
                document.getElementById("money").innerHTML = data;
            }
        });
        $.ajax({
            url: '@Url.Action("NextEvent", "Eventos")',
            type: 'GET',
            cache: false,
            data: JSON.stringify(),
            success: function(data) {
                document.getElementById("data").innerHTML = data[0];
                document.getElementById("evento").innerHTML = data[1];
            }
        });


    }
</script>